body {
  background-image: url(../images/Enock-Simiyu.jpg);
  background-attachment: fixed;
}
.cphryn {
  color: #00008B;
  padding: 2em;
}
#rowone {
  text-align: center;
}
#myimg1 {
  position: relative;
  height: 200px;
  width: 250px;
}
#rowthree {
  background-color: dimgray;
  opacity: 0.9;
  color: Aqua;
}
#rowtwo {
  background-color: dimgray;
  color: Blue;
  opacity: 0.9;
}
#rowfour {
  background-color: dimgray;
  color: Blue;
  opacity: 0.9;
}
#rowlast {
  text-align: center;
  background-color: #2F4F4F;
  color: cyan;
  opacity: 0.8;
  padding-bottom: 1em;
}
#rowlast a:hover{
  color: red;
  background-color: yellow;
}
